body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    border: black 2px solid;
    box-sizing: border-box;
    
    
 }
 footer {
    background-color: yellowgreen;
    clear: left;
    color: black;
    
 }
 
 footer::after {
    clear: both;
    content: "";
    display: table;
   
 }
 
 footer>nav.verticalNavigation {
    float: left;
    width: 22%;
    color: black;
    
 }
 nav.horizontalNavigation a {
   background-color: rgb(24 25 26);
   font-size: 1.6em;
   line-height: 1.8em;
   text-align: center;
}
 footer>section#contactInfo {
    float: left;
    width: 34%;
    color: black;
 }
 body>footer h1{
    color: black;
 }
 section#main h1{
    color: black;
    font-weight:900;
    text-align: center;
 }
 nav.verticalNavigation a:link, nav.verticalNavigation a:visited {
    color: black;
}
 section#main label{
    color: black;
    font-weight:900;
    text-align: center;
    width: 40%;
   height: 50%;
   padding: 10px;
   margin: 2px;
 }
 section#main{
   text-align: center;
 }
 section#main input{
      width: 40%;
      height: 50%;
      padding: 10px;
      margin: 5px;
 }
#header_title {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 5px 5px 5px black;
    padding: 50px 10px;
    background-image: url(Header_music.jpg);
    background-size: cover;
 }
 section#main button{
   background-color: rgb(158, 213, 74);
   width: 40%;
   height: 50%;
   padding: 10px;
   margin: 5px;
   
 }
 .error-message {
   color: red;
   text-align: center;
   font-size: 14px;
   margin-top: 10px;
}
 address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul {
    background: yellowgreen;
 }
 